.kkk{
    height: 100%;
    margin-top: 220px;
    margin-bottom: 150px;
}
.container {
        position: relative;
        max-width: 1000px;
        display: grid;
        grid-template-columns: repeat(auto-fill,1fr);
        row-gap: 100px;
    }

    .flip {
        position: relative;
        display: flex;
        background: rgba(195, 207, 213, 0.479);
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }
    .flip:nth-child(even) {
        background: rgba(202, 214, 208, 0.548);
    }
    .card {
        position: relative;
        width: 350px;
        height: 400px;
        padding: 50px;
        max-width: 1000px;
        transform-style: preserve-3d;
        transition: 1s;
        margin-left: 70px;
    
    }

    .card-front, .card-back {
        position: absolute;
        height: 100%;
        width: 100%;
        max-width: 1000px;
        perspective: 500px;
        padding: 0;
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }

    .card:hover {
        transform: rotateY(180deg);
        max-width: 1000px;
    }

    .card-back {
        transform: rotateY(180deg);
        max-width: 1000px;
    }
    .content-text{
        padding-left: 3%;
        margin-bottom: 3%;
 
    }
    .content-text img{
        width: 50px;
        height: 50px;
    }
    .content-text h1{
        width: 500px;
        font-size: 35px;
        font-family:  sans-serif;
        text-align: center;
        padding-bottom: 25px;
    }
    .content-text p{
        line-height: 50px;
        width: 600px;
        font-size: 22px;
        font-family:  sans-serif;
        text-align: center;
    }
    table{
        width: 600px;
        height: 400px;
        margin-bottom: 50px;
    }
    
    .name{
        text-align: left;
        width: 400px;
        padding-top: 65px;
        padding-bottom: 0px;
        padding-left: 25px;
        height: 10px;
    }
    .name:hover{
        color: rgb(116, 134, 148);
    }
    
    .talk{
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 0px;
        font-size: 22px;
        line-height: 40px;
    }
    body{
        overflow-x: hidden;
    }
    .icon{
        margin-left: 430px;
        top: 13%;
        position: absolute;
    }
@media screen and (max-width:1440px){
 .content-text{
        padding-left: 5%;
        
    }